*.o
*.lo
*.la
.deps
.libs
config.log
config.status
Makefile
api/Makefile
concord/Makefile
finlib/Makefile
fsa3/Makefile
hat-trie/Makefile
hat-trie/config.log
hat-trie/config.status
hat-trie/src/Makefile
hat-trie/test/Makefile
query/Makefile
src/Makefile
fsa3/dumpfsa
fsa3/lsfsa
fsa3/lsfsa_intersect
fsa3/lsfsa_left_intersect
fsa3/mkfsa
fsa3/mkhatfsa
fsa3/mkhatlex
fsa3/sortuniq
hat-trie/src/src
src/cfreqs
src/corpinfo
src/dumpattrrev
src/dumpattrtext
src/dumpbits
src/dumpdrev
src/dumpdtext
src/dumplevel
src/dumpstructrng
src/dumpvirt
src/encodevert
src/filterlexrev
src/filterquery2attr
src/lsalsize
src/lsbgr
src/lscbgr
src/lsclex
src/lskw
src/lslex
src/lswl
src/manateesrv
src/maplexrev
src/mkalign
src/mkbgr
src/mkdrev
src/mkdtext
src/mkdynattr
src/mkfsalex
src/mklex
src/mknormattr
src/mknorms
src/mkregexattr
src/mktokencov
src/mkvirt
src/mkwc
src/tstcqpgr
src/tstregexopt

